{% extends 'base.html' %}

{% block content %}
<section class="jumbotron text-center" style="background-color: rgb(255,255,255,0);">
  <div class="container" style="border: 3px solid #ffffff; padding: 100px;">

    <h1 class="jumbotron-heading" style="padding-bottom: 50px; color: black;">A K I R A</h1>
    <p class="lead" style="color: black;">Bienvenido a Akira. El primer portal de noticias sobre tecnología de Latinoamérica.</p>
          
  </div>
</section>
<div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            {% for post in posts %}
             
                <div class="col-md-4">
                <div class="card mb-4 box-shadow" style="background-color: rgb(255,255,255,0.5); padding: 10px; margin: 20px;">
                  <p style="font-size: 16px; color: black;">{{post.titulo}}</p>
                  {% if post.foto != None %}
                    <img class="card-img-top" src="{{ url_for('static', filename='imagenes/img-posts/'+post.foto) }}" style="height: 150px; width: 150px; display: block;" data-holder-rendered="true">
                  {% else %}
                    <img class="card-img-top" src="{{ url_for('static', filename='imagenes/img-posts/no_image.jpg') }}" style="height: 150px; width: 150px; display: block;" data-holder-rendered="true">
                  {% endif%}
                  <div class="card-body">
                    <p class="card-text">{{post.contenido}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      
                      <small class="text-muted">{{post.fecha_creacion}}</small><br>
                      <small class="text-muted">Creado por: {{post.id_user}}</small>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor%}
{% endblock %}